.mainContainer{
    position: fixed;
    left: 0;
    top: 0;
    width: 5%;
    height: 100vh;
    background-color: white;
}

.cont1{
    border-bottom: black solid 2px;
}

.logoOctopus{
    margin-left: 5px;
    font-size: 20px;
}

.menu{
    display: flex;
    min-height: 100vh;
    background: #fff;
}

.navigation{
    position: relative;
    width: 70px;
    height: 300px;
    background: #fff;
}

.navigation ul{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}

.navigation ul li{
    position: relative;
    list-style: none;
    border-radius: 10px;
    width: 60px;
    height: 50px;
    border: 3px solid #fff;
    box-sizing: border-box;
}

.navigation ul li:hover{
    background: rgb(0, 0, 0);
}

.navigation ul li a{
    align-items: center;
    color: rgb(0, 0, 0);
    display: flex;
    font-weight: 500px;
    justify-content: center;
    position: relative;
    text-decoration: none;
    width: 100%;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 60px;
    text-align: center;
}

.navigation ul li:hover a .icon{
 color: #fff;
}

.navigation ul li a .icon .fa{
    font-size: 24px;
}

.navigation ul li a .title{
    position: absolute;
    font-size: 15px;
    left: 70px;
    display: block;
    background: #fff;
    width: auto;
    padding: 5px 10px;
    transform: translateY(-15%) translateX(0px);
    border-radius: 6px;
    box-shadow: 0px 5px 15px rgba(0,0,0,1);
    visibility: hidden;
    opacity: 0; 
    transition: 0.5s;
}

.navigation ul li:hover a .title{
    transform: translateY(-15%) translateX(10px);
    visibility: visible;
    opacity: 1;
}

.navigation ul li a .title::before{
    content: "";
    position: absolute;
    width: 12px;
    top: 48%;
    left: -8px;
    height: 12px;
    background: #fff;
    transform: rotate(45deg) translateY(-50%);
    border-radius: 3px;
}


/* .logo {
    font-size: 22px;
    text-transform: uppercase; 
    color: #fff;
}
.menu{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menu1{
    margin: auto;
}
.logoOctopus{
    width: 4.5rem;
    height: 4.5rem;
}
.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: arial;
    border-bottom: black solid 5px;
}
.menu{
    cursor: pointer;
}
.hidden {
    display: none;
}
.mainContainer{
    position: fixed;
    left: 0;
    top: 0;
    width: 4%;
    height: 100vh;
    background-color: white;
}
.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -3px;
    

}

.icon1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    color: #000;
}

.icon2 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #000;
}
.icon3 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #000;
}
.icon4 {
    margin-top: 430px;
    margin-bottom: 20px;
    font-size: 30px;
    color: #000;
}

.icons1{
    display: flex;
    flex-direction: column;
    margin-top: -3px;
    
} */