
.card {
    border: 1px solid #e0e0e0;
    display: flex;
    width: 20em;
    border-radius: 0.5rem;
    background-color: #f5f5f5;
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.03);
  }
  
  .gameThumb {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 0.4rem;
    margin-right: 1rem;
  }
  
  .cardInfo {
    flex: 1;
  }
  
  .title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
    color: #333;
  }
  
  .rating {
    font-size: 1rem;
    margin: 0.5rem 0;
    color: #888;
  }
  
  .released {
    font-size: 0.875rem;
    margin: 0.5rem 0;
    color: #888;
  }
  
  .genres {
    font-size: 0.875rem;
    margin: 0.5rem 0;
    color: #888;
  }
  
  .platforms {
    font-size: 0.875rem;
    margin: 0.5rem 0;
    color: #888;
  }
  .button {
    border: none;
    outline: none;
    padding: 0.5rem 1rem; 
    background-color: transparent;
  }
  .button:hover {
    cursor: pointer;
  }
  .seeMore {
    text-decoration: none;
    color: #0070f3;
    font-size: 1rem;
    margin: 0.5rem 0;
  }
  .seeMore:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  