.main{
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    height: 100vh;
    height: 100%;
} 

.pagesbuttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}
  .searchInput {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    text-align: center;
  }
  .tituloprincipal {
    color: #0070f3;
    font-size: 3rem;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #1e1e1e;
    width: 50%;
    border-radius: 6px;
    margin: auto;
    box-shadow: #3a4cf09c 0px 10px 15px, #3a4cf09c 0px 10px 10px;
  }

  .divinput{
    display: flex;
    margin: auto;
    border-radius: 5px;
    width: fit-content;
    align-items: center;
    justify-content: center;
    background-color: white;

  }
  .select {
    width: 30%;
    padding: 0.5rem;
    border: 1px solid #e0e0e0;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
  }
  .container{
    margin-left: 5rem;
  }
  .button {
    background-color: #0070f3;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 1rem 0;
  }
  
/* Estilos gerais para o container */
.containerInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}

/* Estilos para os títulos */
.containerInputs h1 {
  font-size: 16px;
  margin: 10px 0;
}

/* Estilos para os inputs de texto */
.containerInputs input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* Estilos para o input de data */
.containerInputs input[type="date"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}


/* Estilos para o botão */
.containerInputs button {
  background-color: #0077FF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.containerInputs button:hover {
  background-color: #0055CC;
}


  